<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployment Log</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="container">
        <div class="steps" id="steps-container">
            <div class="step" id="step-vm">Loading</div>
            <div class="step" id="step-engine">Installing</div>
            <div class="step" id="step-prepare-vm">Verify</div>
            <div class="step" id="step-storage">Analyze</div>
            <div class="step" id="step-finish">Convert</div>
            <div class="step" id="step-version">Version</div>
            <div class="step" id="step-compress">Compress</div>
            <div class="step" id="step-summary">Summary</div>
            <div class="step" id="step-uploading">Uploading</div>
            <div class="step" id="step-final">Finish</div>
        </div>
        <div class="progress-bar">
            <div class="progress" id="progress-bar"></div>
        </div>
        <div class="log-container">
            <div class="circle">
                <p class="count">
                    <span class="percent">50</span>%
                </p>
                <div class="preloader-wrap">
                    <div class="preloader">
                        <div class="loading-circle"></div>
                    </div>
                </div>
            </div>
            <div class="log-content">
                <div class="log-header">Deployment in progress</div>
                <div id="log-content"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
